@model Web.Areas.AliceChopper.Models.CouponsBatchModel
@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}
@section header{
    <script type="text/javascript">
        $(document).ready(function () {
            @if (Model.BusinessID>0)
	        {
            <text>InitType(@Model.BusinessID);</text>
	        }
            $("#BusinessID").change(function () {
                if ($(this).val() > 0) {
                    InitType($(this).val());
                }
                //alert($(this).val());
            });
        });
        function InitType(typeID) {
            $("#TypeID").empty();
            $("#TypeID").append("<option value='0'>请选择</option>");
            $.ajax({
                type: 'GET',
                traditional: true,
                url: "/AliceChopper/Coupons/InitCouponsTypes",
                data: { 'businessID': typeID },
                success: function (data) {
                    $("#TypeID").empty();
                    var v = JSON.parse(data);
                    $("#TypeID").append("<option value='0'>请选择</option>");
                    //alert(v);
                    for (var i = 0; i < v.length; i++) {
                        if (v[i].ID==@Model.TypeID) {
                            $("#TypeID").append("<option value='" + v[i].ID + "' selected='selected'>" + v[i].Title + "</option>");
                    }else{
                        $("#TypeID").append("<option value='" + v[i].ID + "'>" + v[i].Title + "</option>");
                }
            }
            }
        });
        }
    </script>
}
@section body{
    @using (Html.BeginForm("CouponsBatchAdd", "Coupons", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {<table class="frm">
        <tr>
            <td colspan="2" class="pagetit">
                <h1>
                    批量发放优惠券
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                手机号码
            </th>
            <td>
                <input type="file" name="uploadFile" id="uploadFile" /> 使用记事本导入，每行一个手机号<span style="color: #f00">*@Html.ValidationMessageFor(model => model.Mobile)</span>
            </td>
        </tr>
        <tr>
            <th>
                商家
            </th>
            <td>
                <select class="ddl" id="BusinessID" name="BusinessID">
                    <option @if (0 == Model.BusinessID) { <text> selected="selected" </text>              } value="0">选择商家</option>
                    @{
List<Models.BD_Business> list = ViewData["businessList"] as List<Models.BD_Business>;
if (list != null)
{
    foreach (Models.BD_Business item in list)
    {
        <option @if (item.ID == Model.BusinessID) { <text> selected="selected" </text>              } value="@item.ID">@item.BusinessName</option>
    }

}
                    }
                </select>
            </td>
        </tr>
        <tr>
            <th>
                优惠券
            </th>
            <td>
                <select class="ddl" id="TypeID" name="TypeID">
                    <option value="0" selected="selected">请选择</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                数量
            </th>
            <td>
                @Html.TextBoxFor(x => x.Count, new { @class = "txt", @onkeyup = @"this.value=this.value.replace(/[^\d]/g,'')", style = "width:200px" })
            </td>
        </tr>
        <tr>
            <th>
                短信内容
            </th>
            <td>
                @Html.TextAreaFor(model => model.SMSContent, new { style = "width:400px;height:100px" })<span style="color: #f00">*【小熊洗车】不能删除，不允许手动换行。内容为空则不发送短信！</span>
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input id="btnSure" class="btn" value="确定" type="submit" />
            </td>
        </tr>
    </table>
    }
}
