@model Models.BD_BusiAction_Item
@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}
@section header{
    <link type="text/css" href="@Url.Content("~/Content/css/grid.css")" rel="stylesheet" />
    <script type="text/javascript">
        function checkForm() {
            if ($("#TypeName").val() == "") {
                alert("分类名称不能为空！");
                return false;
            }
            return true;
        }
    </script>
}
@section body{
    <div class="bdcon">
        <div class="btnbartitle">
            <div>
                活动券管理
            </div>
        </div>
        <div class="tools_bar">
            <a title="刷新当前页面" onclick="Replace();" class="tools_btn">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/arrow_refresh.png")') 50% 4px no-repeat;">
                        刷新
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
            <a title="关闭当前窗口" onclick="ThisCloseTab();" class="tools_btn">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/back.png")') 50% 4px no-repeat;">
                        离开
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <div id="articles">
                <table class="gv" cellspacing="0" id="gv" style="border-collapse: collapse;">
                    <tr class="gvHeader" style="white-space: nowrap;">
                        <th scope="col">
                            活动名称
                        </th>
                        <th scope="col">
                            优惠券
                        </th>
                        <th scope="col">
                            价格
                        </th>
                        <th scope="col">
                            数量
                        </th>
                        <th scope="col">
                            有效期
                        </th>
                        <th scope="col">
                            日期
                        </th>
                        <th scope="col">
                            管理操作
                        </th>
                    </tr>
                    @if (ViewData["list"] != null)
                    {
                        foreach (DataRow item in (ViewData["list"] as DataTable).Rows)
                        {
                            <tr class="gvRow">
                                <td>
                                    @item["ActionName"].ToString()
                                </td>
                                <td>
                                    @item["ItemTitle"].ToString()
                                </td>
                                <td align="center" style="width: 120px">
                                    @item["ItemPrice"].ToString()
                                </td>
                                <td align="center" style="width: 60px">
                                    @item["Count"].ToString()
                                </td>
                                <td style="width: 80px;text-align:center">
                                    @item["Period"].ToString()/天
                                </td>
                                <td style="width: 140px;text-align:center">
                                    @item["CDate"].ToString()
                                </td>
                                <td align="center" style="width: 120px">
                                    @Html.ActionLink("删除", "ItemList", new { id = item["ID"], bid = AliceDAL.UrlParam.GetIntValue("bid"), a = "d" }, new { @class = "abtn delete" })
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <table class="frm">
                <tr>
                    <th>
                        优惠券
                    </th>
                    <td>
                        <select class="ddl" id="ItemID" name="ItemID">
                            <option @if (0 == Model.ItemID) { <text> selected="selected" </text>         } value="0">选择优惠券</option>
                            @{
List<Web.Areas.AliceChopper.Models.CouponsTypeToBusi> list = ViewData["businessCouponsTypeList"] as List<Web.Areas.AliceChopper.Models.CouponsTypeToBusi>;
if (list != null)
{
    foreach (Web.Areas.AliceChopper.Models.CouponsTypeToBusi item in list)
    {
        <optgroup label="@item.BusinessName">
            @if (item.TypeList != null)
            {
                foreach (var ite in item.TypeList)
                {
                    <option @if (ite.TypeID == Model.ItemID) { <text> selected="selected" </text>       } value="@ite.TypeID">@ite.Title</option>
                }
            }
        </optgroup>
    }
}
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        数量
                    </th>
                    <td>
                        @Html.TextBoxFor(x => x.Count, new { @class = "txt", @onkeyup = @"this.value=this.value.replace(/[^\d]/g,'')", maxlength = "2" })
                    </td>
                </tr>
                <tr>
                    <th>
                        &nbsp;
                    </th>
                    <td>
                        <input id="btnSure" class="btn" type="submit" value="确定" onclick="return checkForm();" /><span style="color: #F00">@Html.ValidationMessage("Msg")</span>
                    </td>
                </tr>
            </table>
        }
    </div>
}
