@model Models.WorkShop
@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}
@section header{
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=313cf4ba8b1268a1443d2432b8fc8276"></script>
    <script type="text/javascript">
        function checkForm() {
            if ($("#Title").val() == "") {
                alert("姓名不能为空！");
                return false;
            } else if ($("#WorkRadius").val() == "") {
                alert("服务距离不能为空！");
                return false;
            } else if ($("#StartTime").val() == "0") {
                alert("请选择营业时间！");
                return false;
            } else if ($("#EndTime").val() == "0") {
                alert("请选择营业时间！");
                return false;
            }
            $("#lat").val(marker.getPosition().getLat());
            $("#lng").val(marker.getPosition().getLng());
            return true;
        }
    </script>
}
@section body{
    @using (Html.BeginForm())
    {<table class="frm">
        <tr>
            <td colspan="2" class="pagetit">
                <h1>
                    修改洗车工
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                姓名
            </th>
            <td>
                @Html.TextBoxFor(x => x.Title, new { @class = "txt", style = "width:200px" })<span style="color: #f00">*@Html.ValidationMessageFor(model => model.Title)</span>
            </td>
        </tr>
        <tr>
            <th>
                状态
            </th>
            <td>
                <select class="ddl" id="WorkState" name="WorkState">
                    <option @if (0 == Model.WorkState) { <text> selected="selected" </text>   } value="0">停工</option>
                    <option @if (10 == Model.WorkState) { <text> selected="selected" </text>   } value="10">空闲</option>
                    <option @if (30 == Model.WorkState)
                    { <text> selected="selected" </text>  } value="30">工作中</option>
                    <option @if (50 == Model.WorkState) { <text> selected="selected" </text>   } value="50">休息</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                手机
            </th>
            <td>
                @Html.TextBoxFor(x => x.Mobile, new { @class = "txt", style = "width:200px" })<span style="color: #f00">*@Html.ValidationMessageFor(model => model.Mobile)</span>
            </td>
        </tr>
        <tr>
            <th>
                密码
            </th>
            <td>
                @Html.TextBoxFor(model => model.UserPwd, new { @class = "txt" })
            </td>
        </tr>
        <tr>
            <th>
                服务距离
            </th>
            <td>
                @Html.TextBoxFor(x => x.WorkRadius, new { @class = "txt", @onkeyup = @"this.value=this.value.replace(/[^\d]/g,'')", style = "width:200px" }) 米，即最远距离
            </td>
        </tr>
        <tr>
            <th>
                洗车用时
            </th>
            <td>
                @Html.TextBoxFor(x => x.CostTime, new { @class = "txt", @onkeyup = @"this.value=this.value.replace(/[^\d]/g,'')", style = "width:200px" }) 分钟
            </td>
        </tr>
        <tr>
            <th>
                营业时间
            </th>
            <td>
                <select class="ddl" id="StartTime" name="StartTime">
                    <option @if (0 == Model.StartTime.Year) { <text> selected="selected" </text>                            } value="0">选择时间</option>
                    @for (int i = 0; i < 24; i++)
                    {
                        <option @if (i == Model.StartTime.Hour) { <text> selected="selected" </text>                           } value="@i">@i.ToString().PadLeft(2, '0'):00</option>
                    }
                </select>
                至
                <select class="ddl" id="EndTime" name="EndTime">
                    <option @if (0 == Model.StartTime.Year) { <text> selected="selected" </text>                              } value="0">选择时间</option>
                    @for (int i = 0; i < 24; i++)
                    {
                        <option @if (i == Model.EndTime.Hour) { <text> selected="selected" </text>                             } value="@i">@i.ToString().PadLeft(2, '0'):00</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <th>
                初始位置
            </th>
            <td id="region">
                <div id="mapContainer" style="width:90%;height:300px"></div>
                <input type="hidden" id="lng" name="lng" value="@Model.Lng" />
                <input type="hidden" id="lat" name="lat" value="@Model.Lat" />
                <script type="text/javascript">
                    var map, geolocation;
                    map = new AMap.Map('mapContainer', {
                        resizeEnable: true,
                        center: [@Model.Lng, @Model.Lat],
                        zoom: 13
                    });
                    function check_location(e) {
                        $("#lat").val(e.position.getLat());
                        $("#lng").val(e.position.getLng());
                    }
                    var marker = new AMap.Marker({
                        position: map.getCenter(),
                        draggable: true,
                        cursor: 'move',
                        raiseOnDrag: true
                    });
                    marker.setMap(map);
                </script>
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input id="btnSure" class="btn" type="submit" value="确定" onclick="return checkForm();" />
            </td>
        </tr>
    </table>}}
