@model Web.Areas.Models.ListModel
@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}
@section header{<link type="text/css" href="@Url.Content("~/Content/css/grid.css")" rel="stylesheet" />}
@section body{
    <div class="bdcon">
        <div class="btnbartitle">
            <div>
                订单管理
            </div>
        </div>
        <div class="tools_bar">
            <a title="刷新当前页面" onclick="Replace();" class="tools_btn">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/arrow_refresh.png")') 50% 4px no-repeat;">
                        刷新
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
            <a title="关闭当前窗口" onclick="ThisCloseTab();" class="tools_btn">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/back.png")') 50% 4px no-repeat;">
                        离开
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
        </div>
        <div class="btnbarcontetn" style="margin-top: 1px; background: #fff">
            <div>
                @using (Html.BeginForm("List", "Orders", new RouteValueDictionary { { "id", "" } }, FormMethod.Get))
                {
                    <table border="0" class="frm-find" style="height: 45px;">
                        <tr>
                            <th>
                                用户姓名
                            </th>
                            <td>
                                @Html.TextBox("txtUserName", AliceDAL.UrlParam.GetStringValue("txtUserName"), new { @class = "txt", style = "width:100px" })
                            </td>
                            <td>
                                <input type="submit" id="btnSearch" class="btnSearch" value="搜索" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
        <div class="dgvlist">
            <table class="gv" cellspacing="0" id="gv" style="border-collapse: collapse;">
                <tr class="gvHeader" style="white-space: nowrap;">
                    <th scope="col">
                        订单编号
                    </th>
                    <th scope="col">
                        下单时间
                    </th>
                    <th scope="col">
                        用户姓名
                    </th>
                    <th scope="col">
                        联系电话
                    </th>
                    <th scope="col">
                        订单状态
                    </th>
                    <th scope="col">
                        编辑操作
                    </th>
                </tr>
                @foreach (DataRow item in Model.Page)
                {
                    Models.UserOrderState uos = (Models.UserOrderState)AliceDAL.DataType.ConvertToInt(item["OrderState"].ToString());

                    <tr class="gvRow">
                        <td align="left">
                            &nbsp;&nbsp;<a href="@Url.Action("OrderInfo", "Orders", new { oid = @item["ID"].ToString() })">@item["Osn"].ToString()</a>
                        </td>
                        <td style="width: 150px">
                            @AliceDAL.DataType.ConvertToDateTimeStr(item["CDate"].ToString())
                        </td>
                        <td align="center" style="width: 100px">
                            @item["UserName"].ToString()
                        </td>
                        <td align="center" style="width: 100px">
                            @item["Mobile"].ToString()
                        </td>
                        <td align="center" style="width: 100px">
                            @switch (uos)
                            {
                                case Models.UserOrderState.Payed:
                                    @:支付成功
                                    break;
                                case Models.UserOrderState.Assigned:
                                @:派单完成
                                    break;
                                case Models.UserOrderState.Started:
                                @:开始洗车
                                    break;
                                case Models.UserOrderState.Finished:
                                @:洗车完成
                                    break;
                                case Models.UserOrderState.Canceled:
                                @:已取消
                                    break;
                                default:
                                    break;
                            }
                        </td>

                        <td align="center" style="width: 120px">
                            @Html.ActionLink("查看", "OrderInfo", new { oid = item["ID"] }, new { @class = "abtn edit" })
                        </td>
                    </tr>
                }
            </table>
            <div>
                @Html.Pager(Model.Page, new PagerOptions { PageIndexParameterName = "page", PagerItemsSeperator = "", CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false }, new { id = "badoopager" })
                @{Html.RegisterMvcPagerScriptResource();}
            </div>
        </div>
    </div>
}
