@model Web.Areas.Models.ListModel
@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}
@section header{<link type="text/css" href="@Url.Content("~/Content/css/grid.css")" rel="stylesheet" />}
@section body{
    <div class="bdcon">
        <div class="btnbartitle">
            <div>
                促销信息
            </div>
        </div>
        <div class="tools_bar">
            <a title="刷新当前页面" onclick="Replace();" class="tools_btn">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/arrow_refresh.png")') 50% 4px no-repeat;">
                        刷新
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
            <a title="新增" class="tools_btn" onclick="Add('/AliceChopper/News/HotAdd');">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/application_add.png")') 50% 4px no-repeat;">
                        新增
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
            <a title="关闭当前窗口" onclick="ThisCloseTab();" class="tools_btn">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/back.png")') 50% 4px no-repeat;">
                        离开
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
        </div>
        <div class="btnbarcontetn" style="margin-top: 1px; background: #fff">
            <div>
                @using (Html.BeginForm("HotList", "News", new RouteValueDictionary { { "id", "" } }, FormMethod.Get))
                {
                    <table border="0" class="frm-find" style="height: 45px;">
                        <tr>
                            <th>
                                信息名称
                            </th>
                            <td>
                                @Html.TextBox("txtTitle", AliceDAL.UrlParam.GetStringValue("txtTitle"), new { @class = "txt", style = "width:100px" })
                            </td>
                            @{
                    if (WorkContext.RoleID == 1)
                    {
                        <text>
                            <th>
                                分公司
                            </th>
                            <td>
                                <select class="ddl" id="BranchID" name="BranchID">
                                    <option @if (0 == AliceDAL.UrlParam.GetIntValue("BranchID")) { <text> selected="selected" </text>            } value="0">请选择</option>
                                    @{
List<Models.BD_Branch> list = ViewData["branchlist"] as List<Models.BD_Branch>;
if (list != null)
{
    foreach (Models.BD_Branch item in list)
    {
        <option @if (item.ID == AliceDAL.UrlParam.GetIntValue("BranchID")) { <text> selected="selected" </text>            } value="@item.ID">@item.Title</option>
    }
}
                                    }
                                </select>
                            </td></text>
                    }
                            }
                            <td>
                                <input type="submit" id="btnSearch" class="btnSearch" value="搜索" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
        <div class="dgvlist">
            <table class="gv" cellspacing="0" id="gv" style="border-collapse: collapse;">
                <tr class="gvHeader" style="white-space: nowrap;">
                    <th scope="col">
                        信息标题
                    </th>
                    <th scope="col">
                        点击量
                    </th>
                    <th scope="col">
                        是否置顶
                    </th>
                    <th scope="col">
                        是否外链
                    </th>
                    <th scope="col">
                        所属分公司
                    </th>
                    <th scope="col">
                        发布时间
                    </th>
                    <th scope="col">
                        编辑操作
                    </th>
                </tr>
                @foreach (DataRow item in Model.Page)
                {
                    <tr class="gvRow">
                        <td align="left">
                            &nbsp;&nbsp;@item["Title"].ToString()
                        </td>
                        <td style="width: 80px">
                            @item["Hit"].ToString()
                        </td>
                        <td align="center" style="width: 80px">
                            @(item["Hot"].ToString() == "1" ? "是" : "否")
                        </td>
                        <td align="center" style="width: 80px">
                            @(item["Description"].ToString() == "" ? "否" : "<a href='" + item["Description"].ToString() + "' target='_blank'>是</a>")
                        </td>
                        <td style="width:150px">
                            @item["BranchName"].ToString()
                        </td>
                        <td align="center" style="width: 150px">
                            @item["CDate"].ToString()
                        </td>
                        <td align="center" style="width: 120px">
                            @Html.ActionLink("编辑", "HotEdit", new { pid = item["ID"], ParentID = AliceDAL.UrlParam.GetIntValue("ParentID") }, new { @class = "abtn edit" })
                            @Html.ActionLink("删除", "Delete", new { pid = item["ID"] }, new { @class = "abtn delete" })
                        </td>
                    </tr>
                }
            </table>
            <div>
                @Html.Pager(Model.Page, new PagerOptions { PageIndexParameterName = "page", PagerItemsSeperator = "", CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false }, new { id = "badoopager" })
                @{Html.RegisterMvcPagerScriptResource();}
            </div>
        </div>
    </div>
}
