@model Web.Areas.BusinessManger.Models.ProOrderInfoModel
@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}@section header{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input:text:first').focus();
            $("#mobile").bind('keydown', function (e) {
                var key = e.which;
                if (key == 13) {
                    GetUserInfo();
                }
            });
            init_models();
        })

        function GetUserInfo() {
            if ($("#mobile").val() == "") {
                $("#msg").html("*手机号不能为空！");
                return;
            } else {
                $.post("@Url.Action("AjaxUserInfo", "Member")", { mobile: $("#mobile").val() }, function (data) {
                    var v = JSON.parse(data);
                    if (v.code == "0") {
                        $("#msg").html(v.msg);
                        return;
                    }
                });
            }
        }
        function checklogin() {
            var brand = $("#selebrand").find("option:selected").text();
            var model = $("#selemodel").find("option:selected").text();
            var brandid = $("#selebrand").val();
            var modelid = $("#selemodel").val();
            if ($("#mobile").val() == "") {
                window.alert("请输入手机号码！");
                return false;
            } else if ($("#carplate").val() == "") {
                window.alert("请输入车牌号！");
                return false;
            }
            $.ajax({
                type: 'post',
                traditional: true,
                dataType: "json",
                url: "@Url.Action("PreAdd", "Member")",
                data: { mobile: $("#mobile").val(), name: $("#name").val(), carplate: $("#carplate").val(), 'alicebrand': brand, 'alicemodel': model, 'alicecolor': $("#selecolor").val(), 'alicebrandid': brandid, 'alicemodelid': modelid },
                success: function (data) {
                    if (data.code == 0) {
                        alert(data.msg);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=313cf4ba8b1268a1443d2432b8fc8276"></script>
}
@section body{
    @using (Html.BeginForm())
    {<table class="frm">
        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    订单信息
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                订单号
            </th>
            <td>
                @Model.OrderInfo.Osn
            </td>
            <th>
                订单状态
            </th>
            <td>
                @{Models.UserProOrderState uos = (Models.UserProOrderState)Model.OrderInfo.OrderState;
                switch (uos)
                {
                    case Models.UserProOrderState.WaitPaying:
                        @:未支付
                        break;
                    case Models.UserProOrderState.Payed:
                    @:支付成功
                                    break;
                    case Models.UserProOrderState.Assigned:
                    @:备货完成
                                    break;
                    case Models.UserProOrderState.Started:
                    @:发货中
                                    break;
                    case Models.UserProOrderState.Finished:
                    @:已签收
                                    break;
                    case Models.UserProOrderState.Canceled:
                    @:已取消
                                    break;
                    case Models.UserProOrderState.Void:
                    @:已作废
                                    break;
                    default:
                                    break;
                }
                }
            </td>
            <th>
                提交日期
            </th>
            <td>
                @AliceDAL.DataType.ConvertToDateTimeStrAll(Model.OrderInfo.CDate)
            </td>
        </tr>
        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    用户信息
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                用户姓名
            </th>
            <td>
                @Model.OrderInfo.UserName
            </td>
            <th>
                手机号
            </th>
            <td>
                @Model.OrderInfo.Mobile
            </td>
            <th>
                提交IP
            </th>
            <td>
                @Model.OrderInfo.IP
            </td>
        </tr>

        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    商品
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                服务项目
            </th>
            <td colspan="5">
                @if (Model.OrderItems != null)
                {
                    foreach (Models.Pro_Orders_Item item in Model.OrderItems)
                    {
                        <span>@item.ItemName</span>
                    }
                }
            </td>
        </tr>
        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    订单信息
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                订单处理
            </th>
            <td colspan="5">
                @switch (uos)
                {
                    case Models.UserProOrderState.Payed:
                        <a href="@Url.Action("CancelOrder1", "Orders", new { oid = @Model.OrderInfo.ID.ToString() })">[取消]</a>
                        <a href="@Url.Action("AssignOrder1", "Orders", new { oid = @Model.OrderInfo.ID.ToString() })">[备货]</a>
                        break;
                    case Models.UserProOrderState.Assigned:
                    <a href="@Url.Action("CancelOrder1", "Orders", new { oid = @Model.OrderInfo.ID.ToString() })">[取消]</a>
                    <a href="@Url.Action("StartOrder1", "Orders", new { oid = @Model.OrderInfo.ID.ToString() })">[发货]</a>
                        break;
                    case Models.UserProOrderState.Started:
                    <a href="@Url.Action("CancelOrder1", "Orders", new { oid = @Model.OrderInfo.ID.ToString() })">[取消]</a>
                    <a href="@Url.Action("FinishOrder1", "Orders", new { oid = @Model.OrderInfo.ID.ToString() })">[签收]</a>
                        break;
                    case Models.UserProOrderState.Finished:
                        break;
                    case Models.UserProOrderState.Canceled:
                        break;
                    default:
                        break;
                }
                <a href="@Url.Action("VoidOrder1", "Orders", new { oid = @Model.OrderInfo.ID.ToString() })" onclick="return confirm('作废后不可恢复且不退款，确定？');">[作废]</a>
                <span style="color:#F00">若是手动线下单，如取消请直接作废，否则会额外增加用户余额</span>
            </td>
        </tr>
        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    位置信息
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                地址
            </th>
            <td colspan="5">
                @Model.OrderInfo.Address
            </td>
        </tr>
        <tr>
            <th>
                操作详情
            </th>
            <td colspan="5">
                @if (Model.UserActionsList != null)
                {
                    foreach (Models.UserOrderActions item in Model.UserActionsList)
                    {<p>
                        <span>@item.ActionDes</span>&nbsp;&nbsp;@item.RealName &nbsp; &nbsp;@AliceDAL.DataType.ConvertToDateTimeStrAll(item.ActionTime)
                    </p>
                    }
                }
            </td>
        </tr>
    </table> }
}
