@{
    Layout = null;
}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>B/S软件后台</title>
    <link type="text/css" href="@Url.Content("~/Content/css/base.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.11.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fun.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/c2.js")"></script>
    <script src="@Url.Content("~/Scripts/nc.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            divniceScroll(".navigation");
        })
    </script>
</head>
<body>
    <form id="form1">
        <div id="container">
            <div class="top">
                <div id="logo">
                    <div style="height:10px"></div>
                    <img src="@Url.Content("~/Content/images/logo.jpg")" width="392" height="50" alt="" />
                </div>
                <div class="topmenu">
                    <ul id="topnav">
                        <li id="metnav_1" class="list">
                            <a href="/" target="_blank" id="nav_1">
                                <span class="c1">
                                </span>前台首页
                            </a>
                        </li>
                        <li id="metnav_3" class="list">
                            <a href="javascript:void(0);"
                               id="nav_3"><span class="c3"></span>控制面板</a>
                        </li>
                        <li id="metnav_5" class="list" onclick="IndexOut();">
                            <a href="javascript:void(0);"
                               id="nav_4"><span class="c4"></span>安全退出</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="topbtn">
                <div class="sysdate">
                    <span id="datetime">1900年01月01日 00:00:00</span>
                </div>
                <div class="sysnav">
                    <div class="sysnav-hd">
                        <ul class="tab-nav" id="tabs_container"></ul>
                    </div>
                    <div class="toolbar">
                        <img src="@Url.Content("~/Content/images/refresh.png")" title="刷新当前窗口" onclick="Loading(true);top.$('#' + Current_iframeID())[0].contentWindow.window.location.reload();return false;"
                             width="16" height="16" style="padding-bottom: 3px; cursor: pointer; vertical-align: middle;"
                             alt="刷新当前窗口" />
                        &nbsp;
                        <img id="full_screen" src="@Url.Content("~/Content/images/max.gif")" title="最大化" alt="最大化" onclick="Maximize();"
                             width="16" height="16" style="padding-bottom: 3px; cursor: pointer; vertical-align: middle;" />
                        &nbsp;
                    </div>
                </div>
            </div>
            <div id="MainContent">
                <div class="navigation">
                    <ul class="accordion">
                        <li>
                            <a style="border-top: 0px solid #ccc;">
                                <img src="@Url.Content("~/Content/images/32/eye.png")">系统设置
                            </a>
                            <div class="sub-menu">
                                <div onclick="AddTabMenu('a2', '@Url.Action("EditPassword", "UsersAdmin")', '修改密码', '243.png', 'true','true');">
                                    <img src="@Url.Content("~/Content/images/32/243.png")">修改密码
                                </div>
                                <div onclick="AddTabMenu('a2', '@Url.Action("EditInfo", "UsersAdmin")', '修改信息', '243.png', 'true','true');">
                                    <img src="@Url.Content("~/Content/images/32/243.png")">修改信息
                                </div>
                            </div>
                        </li>
                        <li>
                            <a>
                                <img src="@Url.Content("~/Content/images/32/160.png")">商品管理
                            </a>
                            <div class="sub-menu">
                                <div onclick="AddTabMenu('item1', '@Url.Action("ProductList", "UsersAdmin")', '商品管理', '161.png', 'true','true');">
                                    <img src="@Url.Content("~/Content/images/32/161.png")">商品管理
                                </div>
                                <div onclick="AddTabMenu('item2', '@Url.Action("CategoryList", "UsersAdmin")', '分类管理', '161.png', 'true','true');">
                                    <img src="@Url.Content("~/Content/images/32/161.png")">分类管理
                                </div>
                            </div>
                        </li>

                        <li>
                            <a>
                                <img src="@Url.Content("~/Content/images/32/216.png")">订单管理
                            </a>
                            <div class="sub-menu">
                                <div onclick="AddTabMenu('pj', '@Url.Action("ProOrderList", "Orders")', '订单管理', '4977_photography.png', 'true','true');">
                                    <img src="@Url.Content("~/Content/images/32/4977_photography.png")">订单管理
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div id="ContentPannel">
                </div>
            </div>
            <div id="botton_toolbar">
                <div style="width: 42%; text-align: left; float: left;">
                    &nbsp;<a title="智方软件科技有限公司" href="javascript:void(0)">技术支持：智方软件科技有限公司</a> <span class="south-separator">
                    </span>&nbsp;专业版 V8.1 <span class="south-separator"></span><span class="south-separator">
                    </span>
                </div>
                <div style="width: 16%; text-align: left; float: left;">
                    <a title="智方软件科技有限公司" href="javascript:void()">CopyRight © 2010-2015 By 智方软件</a>
                </div>
                <div style="width: 42%; text-align: right; float: left;">
                    <span class="south-separator"></span>操作员：@WorkContext.BusinessName<span class="south-separator">
                    </span>&nbsp;
                </div>
            </div>
        </div>
        <!--载进度条start-->
        <div id="loading" onclick="Loading(false);">
            <img src="@Url.Content("~/Content/images/loading.gif")" width="32" height="32" style="padding-bottom: 4px;
            vertical-align: middle;" alt="" />&nbsp;正在处理，请稍待&nbsp;
        </div>
        <!--载进度条end-->
    </form>
</body>
</html>
