@model Web.Areas.UsersManger.Models.OrderInfoModel
@{
    Layout = "~/Areas/UsersManger/Views/Shared/_AdminLayout.cshtml";
}@section header{
}
@section body{
    @using (Html.BeginForm())
    {<table class="frm">
        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    订单信息
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                订单号
            </th>
            <td>
                @Model.OrderInfo.Osn
            </td>
            <th>
                订单状态
            </th>
            <td>
                @{Models.UserOrderState uos = (Models.UserOrderState)Model.OrderInfo.OrderState;
                switch (uos)
                {
                    case Models.UserOrderState.WaitPaying:
                        @:未支付
                        break;
                    case Models.UserOrderState.Payed:
                    @:支付成功
                                    break;
                    case Models.UserOrderState.Assigned:
                    @:派单完成
                                    break;
                    case Models.UserOrderState.Started:
                    @:开始洗车
                                    break;
                    case Models.UserOrderState.Finished:
                    @:洗车完成
                                    break;
                    case Models.UserOrderState.Canceled:
                    @:已取消
                                    break;
                    default:
                                    break;
                }
                }
            </td>
            <th>
                提交日期
            </th>
            <td>
                @AliceDAL.DataType.ConvertToDateTimeStrAll(Model.OrderInfo.CDate)
            </td>
        </tr>
        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    用户信息
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                用户姓名
            </th>
            <td>
                @Model.OrderInfo.UserName
            </td>
            <th>
                手机号
            </th>
            <td>
                @Model.OrderInfo.Mobile
            </td>
            <th>
                提交IP
            </th>
            <td>
                @Model.OrderInfo.IP
            </td>
        </tr>
        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    车辆信息
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                品牌
            </th>
            <td>
                @Model.OrderInfo.BrandShow
            </td>
            <th>
                颜色
            </th>
            <td>
                @Model.OrderInfo.Color
            </td>
            <th>
                车牌号
            </th>
            <td>
                @Model.OrderInfo.Plate
            </td>
        </tr>
        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    服务项目
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                服务项目
            </th>
            <td>
                @if (Model.OrderItems != null)
                {
                    foreach (Models.Orders_Item item in Model.OrderItems)
                    {
                        <span>@item.ItemName</span>
                    }
                }
            </td>
            <th>
                备注
            </th>
            <td colspan="3">
                @Model.OrderInfo.Remark
            </td>
        </tr>
        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    清洁信息
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                订单处理
            </th>
            <td colspan="5">
                <div style="margin:10px;font-size:16px">
                    @if (Model.OrderInfo != null && Model.OrderInfo.OrderState == (int)Models.UserOrderState.Payed)
                    {
                        <a href="@Url.Action("CancelOrder", "Orders", new { oid = @Model.OrderInfo.ID.ToString()})">[全额退款]</a>}
                </div>
                <div style="margin:10px">温馨提示：系统派单前撤单可全额退款。</div>
            </td>

        </tr>
        <tr>
            <td colspan="6" class="pagetit">
                <h1>
                    位置信息
                </h1>
            </td>
        </tr>
        <tr>
            <th>
                地址
            </th>
            <td colspan="5">
                @Model.OrderInfo.Address
            </td>
        </tr>
        @*<tr>
                <th>
                    洗车前图片
                </th>
                <td colspan="5">
                    @if (!String.IsNullOrWhiteSpace(Model.OrderInfo.Data1))
                    {
                        foreach (string item in Model.OrderInfo.Data1.Split(','))
                        {
                            <a href="@item" target="_blank"><img src="@item" width="100" height="100" /></a>
                        }
                    }
                </td>
            </tr>
            <tr>
                <th>
                    洗车后图片
                </th>
                <td colspan="5">
                    @if (!String.IsNullOrWhiteSpace(Model.OrderInfo.Data2))
                    {
                        foreach (string item in Model.OrderInfo.Data2.Split(','))
                        {
                           <a href="@item" target="_blank"><img src="@item" width="100" height="100" /></a>
                        }
                    }
                </td>
            </tr>*@
    </table> }
}
