@model Web.Areas.Models.ListModel
@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}
@section header{<link type="text/css" href="@Url.Content("~/Content/css/grid.css")" rel="stylesheet" />
}
@section body{
    <div class="bdcon">
        <div class="btnbartitle">
            <div>
                分公司管理
            </div>
        </div>
        <div class="tools_bar">
            <a title="刷新当前页面" onclick="Replace();" class="tools_btn">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/arrow_refresh.png")') 50% 4px no-repeat;">
                        刷新
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
            <a title="新增" class="tools_btn" onclick="Add('@Url.Action("Add")')">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/application_add.png")') 50% 4px no-repeat;">
                        新增
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
            <a title="总览" class="tools_btn" href="@Url.Action("ShowAll")" target="_blank">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/application_add.png")') 50% 4px no-repeat;">
                        总览
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
            <a title="关闭当前窗口" onclick="ThisCloseTab();" class="tools_btn">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/back.png")') 50% 4px no-repeat;">
                        离开
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
        </div>
        <div class="btnbarcontetn" style="margin-top: 1px; background: #fff">
            <div>
                @using (Html.BeginForm("List", "Branch", new RouteValueDictionary { { "id", "" } }, FormMethod.Get))
                {
                    <table border="0" class="frm-find" style="height: 45px;">
                        <tr>
                            <th>
                                名称
                            </th>
                            <td>
                                @Html.TextBox("txtTitle", AliceDAL.UrlParam.GetStringValue("txtTitle"), new { @class = "txt", style = "width:100px" })
                            </td>
                            <td>
                                <input type="submit" id="btnSearch" class="btnSearch" value="搜索" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
        <div class="dgvlist">
            <table class="gv" cellspacing="0" id="gv" style="border-collapse: collapse;">
                <tr class="gvHeader" style="white-space: nowrap;">
                    <th scope="col">
                        名称
                    </th>
                    <th scope="col">
                        订单峰值
                    </th>
                    <th scope="col">
                        联系电话
                    </th>
                    <th scope="col">
                        状态
                    </th>
                    <th scope="col">
                        区域
                    </th>
                    <th scope="col">
                        添加时间
                    </th>
                    <th scope="col">
                        编辑操作
                    </th>
                </tr>
                @foreach (DataRow item in Model.Page)
                {
                    <tr class="gvRow">
                        <td align="left">
                            &nbsp;&nbsp;@item["Title"].ToString()
                        </td>
                        <td style="width:120px">
                            @item["OrderCount"].ToString()
                        </td>
                        <td style="width:160px">
                            @item["Mobile"].ToString()
                        </td>
                        <td style="width:100px">
                            @if (item["BranchState"].ToString() == "0")
                            {
                                <text><span style="color:#F00">禁用</span></text>
                            }
                            else if (item["BranchState"].ToString() == "10")
                            {
                                <text><span style="color:#0d7146">正常</span></text>
                            }
                            else if (true)
                            {
                                <text><span style="color:#ff6a00">关闭</span></text>
                            }
                        </td>
                        <td style="width: 50px">
                            @Html.ActionLink("查看", "ShowModel", new { fid = item["ID"] }, new { @class = "abtn edit", target = "_blank" })
                        </td>
                        <td align="center" style="width: 150px">
                            @AliceDAL.DataType.ConvertToDateTimeStr(item["CDate"])
                        </td>
                        <td align="center" style="width: 150px">
                            @Html.ActionLink("编辑", "Edit", new { fid = item["ID"] }, new { @class = "abtn edit" })
                            @if (item["BranchState"].ToString() == "0")
                            {
                                @Html.ActionLink("启用", "ChangeState", new { bid = item["ID"] }, new { @class = "abtn edit" })
                            }
                            else if (item["BranchState"].ToString() == "10")
                            {
                                @Html.ActionLink("禁用", "ChangeState", new { bid = item["ID"] }, new { @class = "abtn edit" })
                            }
                            else if (item["BranchState"].ToString() == "30")
                            {
                                @Html.ActionLink("开启", "ChangeState", new { bid = item["ID"] }, new { @class = "abtn edit" })
                            }
                        </td>
                    </tr>
                }
            </table>
            <div>
                @Html.Pager(Model.Page, new PagerOptions { PageIndexParameterName = "page", PagerItemsSeperator = "", CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false }, new { id = "badoopager" })
                @{Html.RegisterMvcPagerScriptResource();}
            </div>
        </div>
    </div>
}
