@model Web.Areas.Models.ListModel
@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}
@section header{
    <link type="text/css" href="@Url.Content("~/Content/css/grid.css")" rel="stylesheet" />
}
@section body{
    <div class="bdcon">
        <div class="btnbartitle">
            <div>
                大客户列表
            </div>
        </div>
        <div class="tools_bar">
            <a title="刷新当前页面" onclick="Replace();" class="tools_btn">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/arrow_refresh.png")') 50% 4px no-repeat;">
                        刷新
                    </b>
                </span>
            </a><div class="tools_separator">
            </div>
            <a title="新增" class="tools_btn" onclick="Add('@Url.Action("BigAdd")');">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/application_add.png")') 50% 4px no-repeat;">
                        新增
                    </b>
                </span>
            </a><a title="关闭当前窗口" onclick="ThisCloseTab();" class="tools_btn">
                <span>
                    <b style="background: url('@Url.Content("~/Content/images/16/back.png")') 50% 4px no-repeat;">离开</b>
                </span>
            </a><div class="tools_separator">
            </div>
        </div>
        <div class="btnbarcontetn" style="margin-top: 1px; background: #fff">
            <div>
                @using (Html.BeginForm("BigList", "Member", new RouteValueDictionary { { "id", "" } }, FormMethod.Get))
                {<table border="0" class="frm-find" style="height: 45px;">
                    <tr>
                        <th>
                            手机号：
                        </th>
                        <td>
                            @Html.TextBox("Mobile", AliceDAL.UrlParam.GetStringValue("Mobile"), new { css = "txt1", style = "width:200px" })
                        </td>
                        <td>
                            <input id="btnSearch" type="submit" class="btnSearch" value="搜 索" />
                        </td>
                    </tr>
                </table>
                }
            </div>
        </div>
        <div id="articles">
            <table class="gv" cellspacing="0" id="gv" style="border-collapse: collapse;">
                <tr class="gvHeader" style="white-space: nowrap;">
                    <th scope="col">
                        ID
                    </th>
                    <th scope="col">
                        手机号
                    </th>
                    <th scope="col">
                        姓名
                    </th>
                    <th scope="col">
                        钱包余额
                    </th>
                    <th scope="col">
                        赠送余额
                    </th>
                    <th scope="col">
                        注册日期
                    </th>
                    <th scope="col">
                        车辆管理
                    </th>
                    <th scope="col">
                        操作
                    </th>
                </tr>
                @{if (Model.Page != null)
                {
                    foreach (DataRow item in Model.Page)
                    {
                        <tr class="gvRow">
                            <td style="width: 50px">
                                @item["ID"].ToString()
                            </td>
                            <td>
                                &nbsp;@item["LoginID"].ToString()
                            </td>
                            <td style="width:100px;text-align:center">
                                @item["Data1"].ToString()
                            </td>
                            <td style="width:200px">
                                &nbsp;@AliceDAL.DataType.ConvertToDecimal(item["Money1"].ToString()).ToString("0.00")
                            </td>
                            <td style="width:200px">
                                &nbsp;@AliceDAL.DataType.ConvertToDecimal(item["Money2"].ToString()).ToString("0.00")
                            </td>
                            <td align="center" style="width: 150px">
                                @item["CDate"].ToString()
                            </td>
                            <td align="center" style="width: 100px;">
                                @Html.ActionLink("车辆管理", "EditUserCar", new { uid = item["ID"], p = Model.Page.CurrentPageIndex }, new { @class = "abtn edit" })
                            </td>
                            <td align="center" style="width: 150px;">
                                @Html.ActionLink("重置密码", "EditPwd", new { uid = item["ID"], page = Model.Page.CurrentPageIndex }, new { @class = "abtn edit" })
                                @Html.ActionLink("修改余额", "EditMoney", new { uid = item["ID"], page = Model.Page.CurrentPageIndex }, new { @class = "abtn edit" })
                                @*@Html.ActionLink("删除", "Delete", new { uid = item["ID"] }, new { @class = "abtn delete", @onclick = "return confirm('删除后不可恢复，确定？');" })*@
                            </td>
                        </tr>
                    }
                }}
            </table>
            <div>
                @Html.Pager(Model.Page, new PagerOptions { PageIndexParameterName = "page", PagerItemsSeperator = "", CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false }, new { id = "badoopager" })
                @{Html.RegisterMvcPagerScriptResource();}
            </div>
        </div>
    </div>
}
