@model FlashType
@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}
@section header{
    <link type="text/css" href="@Url.Content("~/Content/css/grid.css")" rel="stylesheet" />
    <script type="text/javascript">
        function checkForm() {
            if ($("#TypeName").val() == "") {
                alert("分类名称不能为空！");
                return false;
            }
            return true;
        }
    </script>
}
@section body{
    <div class="bdcon">
        <div class="btnbartitle">
            <div>
                幻灯片管理
            </div>
        </div>
        <div class="tools_bar">
            <a title="刷新当前页面" onclick="Replace();" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/images/16/arrow_refresh.png")') 50% 4px no-repeat;">
                刷新</b></span></a><div class="tools_separator">
                </div>
            <a title="新增" class="tools_btn" onclick="Add('/Flash/Add');"><span><b style="background: url('@Url.Content("~/Content/images/16/application_add.png")') 50% 4px no-repeat;">
                新增</b></span></a><div class="tools_separator">
                </div>
            <a title="关闭当前窗口" onclick="ThisCloseTab();" class="tools_btn"><span><b
                    style="background: url('@Url.Content("~/Content/images/16/back.png")') 50% 4px no-repeat;">
                离开</b></span></a><div class="tools_separator">
                </div>
        </div>
        @using (Html.BeginForm())
        {
            <div id="articles">
                <table class="gv" cellspacing="0" id="gv" style="border-collapse: collapse;">
                    <tr class="gvHeader" style="white-space: nowrap;">
                        <th scope="col">
                            ID
                        </th>
                        <th scope="col">
                            分类名称
                        </th>
                        <th scope="col">
                            排序
                        </th>
                        <th scope="col">
                            管理操作
                        </th>
                    </tr>
                    @foreach (DataRow item in (ViewData["list"] as DataTable).Rows)
                    {
                        <tr class="gvRow">
                            <td style="text-align: left; text-indent: 2em; width: 100px">
                                @item["ID"].ToString()
                            </td>
                            <td align="left">
                                <div class="c1">@item["TypeName"].ToString()</div>
                            </td>
                            <td align="center" style="width: 120px">
                                @item["SortID"].ToString()
                            </td>
                            <td align="center" style="width: 120px">
                                @Html.ActionLink("编辑", "TypeList", new { tid = item["ID"], act = "edit" }, new { @class = "abtn edit" })
                                @Html.ActionLink("删除", "TypeList", new { tid = item["ID"], act = "del" }, new { @class = "abtn delete" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <table class="frm">
                <tr>
                    <th>
                        名称
                    </th>
                    <td>@Html.TextBoxFor(x => x.TypeName, new { @class = "txt" })@Html.ValidationMessageFor(x => x.TypeName)
                    </td>
                </tr>
                <tr>
                    <th>
                        排序ID
                    </th>
                    <td>
                        @Html.TextBoxFor(x => x.SortID, new { @class = "txt", @onkeyup = @"this.value=this.value.replace(/[^\d]/g,'')" })
                    </td>
                </tr>
                <tr>
                    <th>
                        &nbsp;
                    </th>
                    <td>
                        <input id="btnSure" class="btn" type="submit" value="确定" onclick="return checkForm();" /><span
                            style="color: #F00">@Html.ValidationMessage("Msg")</span>
                    </td>
                </tr>
            </table>
        }
    </div>
}
