@model Web.Areas.Models.ListModel
@{
    Layout = "~/Areas/AliceChopper/Views/Shared/_AdminLayout.cshtml";
}
@section header{<link type="text/css" href="@Url.Content("~/Content/css/grid.css")" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/area_array.js"></script>
    <script type="text/javascript" src="/Scripts/areaselect.js"></script>
}
@section body{
    <div class="bdcon">
        <div class="btnbartitle">
            <div>
                供应商管理
            </div>
        </div>
        <div class="tools_bar">
            <a title="刷新当前页面" onclick="Replace();" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/images/16/arrow_refresh.png")') 50% 4px no-repeat;">
                刷新</b></span></a><div class="tools_separator">
                </div>
            <a title="新增" class="tools_btn" onclick="Add('/AliceChopper/Supplier/Add');"><span><b style="background: url('@Url.Content("~/Content/images/16/application_add.png")') 50% 4px no-repeat;">
                新增</b></span></a><div class="tools_separator">
                </div>
            <a title="关闭当前窗口" onclick="ThisCloseTab();" class="tools_btn"><span><b style="background: url('@Url.Content("~/Content/images/16/back.png")') 50% 4px no-repeat;">
                离开</b></span></a><div class="tools_separator">
                </div>
        </div>
        <div class="btnbarcontetn" style="margin-top: 1px; background: #fff">
            <div>
                @using (Html.BeginForm("List", "Supplier", new RouteValueDictionary { { "id", "" } }, FormMethod.Get))
                {
                    <table border="0" class="frm-find" style="height: 45px;">
                        <tr>
                            <th>
                                分销商名称
                            </th>
                            <td>
                                @Html.TextBox("txtTitle", AliceDAL.UrlParam.GetStringValue("txtTitle"), new { @class = "txt", style = "width:100px" })
                            </td>
                            <th>
                                所在地区
                            </th>
                            <td id="region">
                                @Html.Hidden("pcregion", AliceDAL.UrlParam.GetNalStringValue("pcregion"))
                                <select class="ddl">
                                </select>
                            </td>
                            <th>
                                状态
                            </th>
                            <td>@Html.RadioButton("rdoState", 0, (AliceDAL.UrlParam.GetStringValue("rdoState") == "0" ? true : false), new { @id = "radio1" })未审核
                                @Html.RadioButton("rdoState", 1, (AliceDAL.UrlParam.GetStringValue("rdoState") == "1" ? true : false), new { @id = "radio2" })正常
                            </td>
                            <td>
                                <input type="submit" id="btnSearch" class="btnSearch" value="搜索" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
        <div class="dgvlist">
            <table class="gv" cellspacing="0" id="gv" style="border-collapse: collapse;">
                <tr class="gvHeader" style="white-space: nowrap;">
                    <th scope="col">
                        分销商名称
                    </th>
                    <th scope="col">
                        授权区域
                    </th>
                    <th scope="col">
                        客户电话
                    </th>
                    <th scope="col">
                        所在地区
                    </th>
                    <th scope="col">
                        状态
                    </th>
                    <th scope="col">
                        编辑操作
                    </th>
                </tr>
                @foreach (DataRow item in Page)
                {
                    <tr class="gvRow">
                        <td align="left">
                            &nbsp;&nbsp;@item["Title"].ToString()
                        </td>
                        <td align="center">
                            @item["ActArea"].ToString()
                        </td>
                        <td style="width: 120px">
                            @item["Phone"].ToString()
                        </td>
                        <td align="center" style="width: 150px">
                            @item["ProvinceName"].ToString()@item["CityName"].ToString()
                        </td>
                        <td align="center" style="width: 60px">
                            @(item["IsShow"].ToString() == "1" ? "正常" : "未审核")
                        </td>
                        <td align="center" style="width: 120px">
                            @Html.ActionLink("编辑", "Edit", new { fid = item["ID"] }, new { @class = "abtn edit" })
                            @Html.ActionLink("删除", "Delete", new { fid = item["ID"] }, new { @class = "abtn delete" })
                        </td>
                    </tr>
                }
            </table>
            <div>
                @Html.Pager(Page, new PagerOptions { PageIndexParameterName = "page", PagerItemsSeperator = "", CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false }, new { id = "badoopager" })
                @{Html.RegisterMvcPagerScriptResource();}
            </div>
        </div>
    </div>
}
